@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.input-field {
    border: 1px solid #ccc;
    padding: 8px;
    margin: 5px;
    width: calc(100% - 16px);
}

.btn {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}
.create-paper-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.create-paper-title {
    font-size: 24px;
    margin-bottom: 15px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Afstand mellem inputfelter */
}

.input-field {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* Tilpas bredden til containeren */
    max-width: 400px; /* Max bredde for inputfelter */
}

.create-button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Grøn baggrund */
    color: white; /* Hvid tekst */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-button:hover {
    background-color: #45a049; /* Mørkere grøn ved hover */
}

